In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt
df=pd.read_csv("ramen-ratings.csv",index_col=False)
#df.drop("Top Ten",axis=1,inplace=True)
d1=df[df['Stars'] == 'Unrated'].index
df.drop(d1 , inplace=True)
df.Stars=df.Stars.astype(float)
# df[df.Stars>2.5]
# dic=hr.Country.value_counts().to_dict()
# l=[]
# for x in dic.keys():
#     if dic[x]>50:
#         l.append(x)
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [73]:
#cities with top Ten rating
t10=df.dropna(subset = ['Top Ten'])
t10[["Country",'Top Ten','Style','Variety']].value_counts()
#cleaning Top ten coulum form invalid values
ratL=list(t10['Top Ten'].values)
for x in ratL:
    if len(x)<3:
        ratL.remove(x)
t10[t10['Top Ten'].isin(ratL)][["Country","Top Ten"]]

          Country   Top Ten
616       Myanmar  2016 #10
633     Singapore   2016 #1
655     Singapore   2016 #8
673     Singapore   2016 #5
752        Taiwan   2016 #9
891         China   2016 #7
942        Taiwan  2015 #10
963      Malaysia   2015 #7
995      Malaysia   2015 #4
1059        Japan   2015 #9
1072     Malaysia   2015 #6
1080     Malaysia   2015 #1
1109     Thailand  2013 #10
1114     Thailand   2015 #8
1230     Malaysia   2014 #7
1250        Japan   2014 #4
1272  South Korea   2014 #9
1278     Thailand  2014 #10
1309    Singapore   2014 #8
1382  South Korea   2014 #5
1397  South Korea   2014 #6
1493     Malaysia   2014 #1
1588    Singapore   2013 #1
1589    Singapore   2013 #2
1646          USA   2013 #4
1757  South Korea   2013 #9
1865    Indonesia   2013 #3
1972    Singapore  2012 #10
2002  South Korea   2012 #7
2146    Indonesia   2012 #5
2188        Japan   2012 #3
2189        Japan   2012 #6
2295    Hong Kong   2012 #9
2475    Indonesia   2012 #1
2533    Indonesia   2012 #2
2549        Japan   2013 #6
2567        Japan   2012 #4