In [188]:
import pandas as pd
import numpy as np
import matplotlib as plt
df=pd.read_csv("ramen-ratings.csv",index_col=False)

d1=df[df['Stars'] == 'Unrated'].index
df.drop(d1 , inplace=True)
df.Stars=df.Stars.astype(float)
# df[df.Stars>2.5]
# dic=hr.Country.value_counts().to_dict()
# l=[]
# for x in dic.keys():
#     if dic[x]>50:
#         l.append(x)
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [189]:
#cities with top Ten rating
from operator import index
t10=df.dropna(subset = ['Top Ten'])
#cleaning Top ten coulum form invalid values
ratL=list(t10['Top Ten'].values)
for x in ratL:
    if len(x)<4:
        ratL.remove(x)
t10=t10[t10['Top Ten'].isin(ratL)]
t10['Top Ten']=t10['Top Ten']
t10['Top Ten']
#add placment col based on top ten clo
t10["Placement"]=t10["Top Ten"].str[-3:]
t10['Top Ten']=t10["Top Ten"].str[0:5]
t10['Placement']=t10['Placement'].str.strip()
t10['Placement']=t10['Placement'].str[1:]
t10.rename(columns={'Top Ten':"Top_ten",'Review #':'Review'},inplace=True)
#t10=Data for Cities with top ten rate
t10
df_c=df.drop("Top Ten",axis=1)
df.rename(columns={'Review #':'Review'},inplace=True)

In [190]:
df_c=df_c.dropna(subset = ['Style'])
#df_c is a cleaned data with out top_ten col

In [209]:
topCity=t10['Country'].value_counts()
print(f"the top country rating is {topCity.idxmax(axis=0)} took place {topCity.max()} times.".title())

The Top Country Rating Is Singapore Took Place 7 Times.